
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Put your challenge-specific CSS in here -->
  <link rel="stylesheet" href="/application.css">
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="/racer.js"></script>
  <title>Ruby Racer SON!</title>
</head>
<body>
    <h1>Ruby Racer SON! v.1.0</h1>
    <p>Instructions:</p>
    <p>Start Game - Press Enter</p>
    <p>Restart Game - Press Space</p>
    <p>Move Mario - Press 'm'</p>
    <p>Move Sonic - Press 's'</p>
    <div id = 'p1'>hello</div>
    <div id = 'p2'>goodbye</div>
    <table class="racer_table">
      <tr id="player1_strip">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
      <tr id="player2_strip">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
</body>
</html>

