<script src="/js/application.js"></script>
    <h1>Ruby Racer SON! v.1.0</h1>
    <p>Instructions:</p>
    <p>Start Game - Press Enter</p>
    <p>Restart Game - Press Space</p>
    <p>Move Mario - Press 'm'</p>
    <p>Move Sonic - Press 's'</p>
    <div id = 'p1'>Mario</div>
    <div id = 'p2'>Sonic</div>
    <table class="racer_table">
      <tr id="player1_strip">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
      <tr id="player2_strip">
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <p>Note: Refresh page to chage usernames</p>


